/* :root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
} */
.swiper {
  margin-top: 100px;
}
.swiper-container {
  box-shadow: 0px 0px 30px 5px var(--clr-neon);
  border: solid 3px var(--clr-neon);
  border-radius: 20px;
  overflow: hidden;
  height: 85vh;
  width: 70vw;
  position: relative;
}
.swiper-container:hover{
    box-shadow: 0px 0px 30px 15px var(--clr-neon);
}

.swiper-slide {
  background-size: 70vw 85vh;
}








.swiper-container-two {
  width: 100%;
  height: 100%;
}

.swiper-slide-two {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
